.logo {
    width: 56px;
    height: 56px;
    margin: 0 auto 16px;
    animation: logoPulse 3s ease-in-out infinite;
}

.logo svg {
    width: 100%;
    height: 100%;
}

@keyframes logoPulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}